@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
	--gradient: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
}


* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	line-height: 1.25em;
}

.clear {
	clear: both;
}

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: #FFF2D7;
}


header {
  background-color: #F8C794;
  padding: 10px;
  display: flex;
  align-items: center;
}
nav {
  flex: 1;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
nav ul img{
  width: 200px;
  margin-right: 250px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  color: #252525;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #f5f0ff;
  text-align: center;
}


.navbar a:hover{
  color: #f5f0ff;
}

.bg-section {
  background: url('assets/image1.jpg') no-repeat center center/cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

.bg-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
}

.bg-content {
  position: relative;
  max-width: 1000px;
  padding: 0 20px; 
}
.bg-content h1 {
  font-size: 48px;
  margin-top: 5px;
  margin-bottom: 20px;
  line-height: 2;
}
.bg-content .highlight {
  color: #ff501b;
  font-weight: bold;
}
.bg-button {
  background-color: #f4511e;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin-left: 20px;
}

.bg-button:hover {
  background-color: #f4511e;
  transform: scale(1.05);
}

.bg-button:active {
  background-color: #f4511e;
  transform: scale(1);
}





footer {
  background-color: #D8AE7E;
  color: #333333;
  padding: 50px 20px;
  border-top: 1px solid #f6c97a;
  position: relative;
  max-height: 300px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-left {
  padding-left: 15%;
  font-size: 15px;
  line-height: 25px;
}
.footer-left img{
  width: 150px;
  margin-right: 250px;
}
.footer-right {
  padding-right: 10%;
  font-size: 14px;
}
.footer-right img {
  width: 18px;
}
.footer-left p, .footer-right p {
  margin: 20px 0;
  color: #333333;
}
.footer-right h3 {
  margin-top: 0;
  color: #333333;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
}
.footer-right p a {
  color: #333333;
  text-decoration: none;
}
.footer-right p a:hover {
  text-decoration: underline;
}
.footer-bottom {
  border-top: 1px solid #ffffff;
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 15px;
  color: #333333;
}
.footer-links a {
  margin-left: 20px;
  color: #333333;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}
.scroll-up {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.scroll-up a {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  color: #333333;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  padding-top: 7px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(31, 31, 31, 0.2);
}

.header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(about.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.header h1{
    margin-top: 50px;
    font-size: 36px;
}

.about-us {
width: 80%;
margin: 80px auto; 
padding: 80px 0 50px; 
font-family: 'Poppins', sans-serif;
display: flex; 
justify-content: space-between; 
align-items: center;
}

.row {
display: flex; 
flex-wrap: wrap; 
justify-content: space-between; 
align-items: center; 
}

.about-col {
flex-basis: 48%; 
padding: 30px 2px; 
}

.about-col img {
width: 100%;
border-radius: 10px; 
}

.about-col h1 {
padding-top: 0; 
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-col p {
padding: 15px 0 25px;
font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif; 
justify-content: flex-start;
}

.hero-btn.abt-btn {
border: 1px solid #f44336; 
background: transparent; 
color: #f44336; 
padding: 10px 20px; 
border-radius: 5px; 
cursor: pointer; 
}

.hero-btn.abt-btn:hover {
color: #fff; 
background: #f44336; 
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}  

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s; 
}

.nav-links ul li:hover::after{
    width: 100%;
}



.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}